@model KartMaster.Models.Utilizador

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Utilizador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* Formulário de edição de utilizador *@
        <form asp-action="Edit">
            @* Apresenta erros de validação do modelo, se existirem *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Campo oculto com o ID do utilizador para garantir que a edição corresponde ao registo correto *@
            <input type="hidden" asp-for="Id" />

            @* Campo para editar o nome do utilizador *@
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            @* Campo para editar o email do utilizador *@
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @* Botão para submeter o formulário de edição *@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Link para voltar à lista de utilizadores *@
<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@* Inclusão dos scripts de validação do lado do cliente *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
