@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da sua palavra-passe?";
}

<style>

    body {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/fundoForgotPassword.jpg') no-repeat center center fixed;
    }

    .center-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .forgot-container {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
        width: 100%;
        max-width: 400px;
        color: #fff;
        text-align: center;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        color: #000;
    }

    .form-label {
        color: #f1f1f1;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        font-weight: bold;
    }

    .text-danger {
        color: #ff6b6b !important;
    }
</style>

<div class="center-wrapper">
    <div class="forgot-container">
        <h1>@ViewData["Title"]</h1>
        <h2>Digite o seu email</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Atualizar palavra-passe</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
